{% extends 'base.html.twig' %}
{% block title %}Clément Thuet | Portfolio{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light navbar-solid fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                   <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#presentation">Présentation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#competences">Compétences</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link" href="#realisations">Réalisations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#formations">Formations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid block-dark" id="presentation">        
        <div class="row ">
            <div class="col-10 offset-1">
                <h4 class="name">Clément Thuet</h4>
                <h1 class="title-h1-light">Développeur Symfony junior</h1>
                <p class="p-description">Je suis développeur web full-stack spécialisé dans l'utilisation du framework Symfony, 
                    je travaille et étudie depuis 3 ans à développer des solutions logicielles et des sites web élégants.
                </p>
                <p class="p-description">En termes de technologies, je manipule régulièrement en complément de Symfony 4 Twig pour
                    la gestion des vues, du CSS (avec Bootstrap) et du Javascript (avec un peu de JQuery).
                    J'ai également quelques expériences avec WordPress et la mise en place d'e-boutiques avec WooCommerce.
                </p>
                <p class="p-description">Lors de mes formations j'ai été amené à faire de la modélisation UML et à déployer une API REST 
                    tout en vérifiant la qualité du code, notamment avec Codacy et en implémentant des tests unitaires et fonctionnels.
                </p>
                <p class="p-description">Vous pouvez retrouver une partie de mes réalisations ci-dessous et sur mon GitHub : https://github.com/ClementThuet/</p>

                <p class="p-description">Je suis à la recherche d'un poste de développeur web sur la région Rémoise.</p>

                <p class="p-description">Contactez-moi, je serai ravi d'échanger à propos d'une éventuelle collaboration.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid block-light" id="competences">        
        <div class="row">
            <div class="col-10 offset-1 ">
                <h1 class="title-h1-dark">Compétences</h1>
                <div class="row">
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_symfony.png">
                        <div class="skill-level"> Avancé</div>
                    </div>
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_bootstrap.png">
                        <div class="skill-level"> Avancé</div>
                    </div>
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_javascript.png">
                        <div class="skill-level">Intermédiaire</div>
                    </div>
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_mysql.png">
                        <div class="skill-level"> Avancé</div>
                    </div>
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_html.png">
                        <div class="skill-level"> Avancé</div>
                    </div>
                    <div class="col-md-2 col-sm-3 logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_css.png">
                        <div class="skill-level"> Avancé</div>
                    </div>
                    <div class="col-md-2 col-sm-3  logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_github.png">
                        <div class="skill-level">Intermédiaire</div>
                    </div>
                    <div class="col-md-2 col-sm-3  logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_apirest.png">
                        <div class="skill-level">Intermédiaire</div>
                    </div>
                     <div class="col-md-2 col-sm-3  logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_wordpress.png">
                        <div class="skill-level"> Intermédiaire</div>
                    </div>
                    <div class="col-md-2 col-sm-3  logo-container">
                        <img class="skill-logo" src="/Portfolio/public/img/logo_photoshop.png">
                        <div class="skill-level"> Débutant</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid block-dark" id="realisations">        
        <div class="row">
            <div class="col-10 offset-1">
                <h1 class="title-h1-light">Réalisations</h1>
                <div class="project">
                    <h2 class="project-title">Logiciel de gestion de bibliothèque scolaire</h2>
                    <div id="carousel">
                        <figure id="spinner1">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/selection-eleve.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/selection-eleve.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/selection-livre.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/selection-livre.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/emprunt-confirme.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/emprunt-confirme.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/emprunt-retour.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/emprunt-retour.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/liste-eleves.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/liste-eleves.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/ajout-eleve.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/ajout-eleve.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/liste-livres.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/liste-livres.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BEB/liste-emprunts.png', '_blank');" src="/Portfolio/public/img/Projects/BEB/liste-emprunts.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',1)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',1)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspSouhait d'aider mon ancienne école maternelle.</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologies : </b>Symfony, Bootstrap </div>
                            <div class="project-detail "><b>2020</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">L'école maternelle possède de nombreux albums que les élèves peuvent emprunter pour consulter chez eux.<br>
                            L'objectif est d'avoir un système permettant de suivre les emprunts tout en permettant aux élèves de les saisir en autonomie.</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/BibliothequeEcole" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project" style="display:none;">
                    <h2 class="project-title">Logiciel de gestion de patientèle</h2>
                    <div id="carousel">
                        <figure id="spinner2">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img src="/Portfolio/public/img/omtifo.jpg" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/new-password.png', '_blank');" src="/Portfolio/public/img/omtifo.jpg" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',2)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',2)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspMise en place d'un logiciel de gestion pour la médecine traditionelle chinoise</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologie : </b>Symfony </div>
                            <div class="project-detail "><b>2018</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-l2">
                            <p class="project-description">Logiciel développé sur mesure pour la gestion de la patientèle. Lors des séances possibilité de retrouver les informations (notes, antécédants médicaux ...)
                            (prise de notes, de photos)</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/MCTDP" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="project">
                    <h2 class="project-title">Snowtricks</h2>
                    <div id="carousel">
                        <figure id="spinner3">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/homepage.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/homepage.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/signup.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/signup.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/signin.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/signin.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/profil.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/profil.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/tricks.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/tricks.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/trick.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/trick.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/update-trick.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/update-trick.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/Snowtricks/new-password.png', '_blank');" src="/Portfolio/public/img/Projects/Snowtricks/new-password.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',3)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',3)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspFormation OpenClassrooms</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologies : </b>Symfony, Bootstrap, JS, UML </div>
                            <div class="project-detail "><b>2019</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">Site collaboratif sur le thème du snowboard et l'apprentissage des tricks.</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/SnowTricks" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h2 class="project-title">BileMo</h2>
                    <div id="carousel">
                        <figure id="spinner4">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/connexion.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/connexion.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/documentation.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/documentation.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/users.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/users.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/user.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/user.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/add-user.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/add-user.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/delete-user.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/delete-user.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/mobiles.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/mobiles.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/BileMo/mobile.png', '_blank');" src="/Portfolio/public/img/Projects/BileMo/mobile.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',4)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',4)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspFormation OpenClassrooms</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologie : </b>Symfony, API REST, Postman, UML </div>
                            <div class="project-detail "><b>2019</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">Mise en place d'un web service exposant une API REST pour une boutique de vente de téléphones mobiles.</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/BileMo" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h2 class="project-title">ToDo&Co</h2>
                    <div id="carousel">
                        <figure id="spinner7">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/accueil.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/accueil.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/connexion.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/connexion.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/dashboard.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/dashboard.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/liste-taches.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/liste-taches.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/create-task.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/create-task.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/detail-tache.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/detail-tache.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/list-user.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/list-user.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/ToDo&Co/detail-user.png', '_blank');" src="/Portfolio/public/img/Projects/ToDo&Co/detail-user.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',7)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',7)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspFormation OpenClassrooms</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologie : </b>Symfony, Bootstrap, JS, UML, Codacy, BlackFire </div>
                            <div class="project-detail "><b>2019</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">Amélioration de la qualité d'une application de To do list (Ajout de fonctionnalités, correction de bug, implémentation de tests automatisés...).</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/ToDo-Co" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h2 class="project-title">Chalets et Caviar</h2>
                    <div id="carousel">
                        <figure id="spinner5">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/accueil.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/accueil.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/accueil-2.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/accueil-2.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/accueil-3.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/accueil-3.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/chalets-louer.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/chalets-louer.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/chalets-vente.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/chalets-vente.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/fiche-chalet.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/fiche-chalet.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/fiche-chalet-contact.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/fiche-chalet-contact.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/C&C/contact.png', '_blank');" src="/Portfolio/public/img/Projects/C&C/contact.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',5)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',5)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspFormation OpenClassrooms</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologie : </b>Wordpress </div>
                            <div class="project-detail "><b>2019</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">Création d'un site web pour une agence de location de chalet de luxe.</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/ChaletsEtCaviar" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h2 class="project-title">Films de plein air</h2>
                    <div id="carousel">
                        <figure id="spinner6">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/presentation.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/presentation.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/actualites.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/actualites.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/actualite.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/actualite.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/programmation.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/programmation.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/fiche-film.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/fiche-film.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/preinscription.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/preinscription.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/infos-pratiques.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/infos-pratiques.png" alt="">
                            <img onclick="window.open('/Portfolio/public/img/Projects/FilmsPleinAir/contact.png', '_blank');" src="/Portfolio/public/img/Projects/FilmsPleinAir/contact.png" alt="">
                        </figure>
                        <div class="button-navigate-container">
                            <span class="icon" onclick="galleryspin('-',6)"><img class="chevron-icon" src="/Portfolio/public/img/chevron-left.png"></span>
                            <span class="icon" onclick="galleryspin('',6)"><img class="chevron-icon"src="/Portfolio/public/img/chevron-right.png"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="project-context"> <b>Contexte :</b>&nbspFormation OpenClassrooms</div>
                        </div>
                        <div class="col-4">
                            <div class="project-detail project-techno"><b>Technologie : </b>HTML, Boostrap </div>
                            <div class="project-detail "><b>2019</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="project-description">Rédaction du cahier des charges et réalisation d'une maquette du site présentant un festival de films en plein air.</p>
                            <div class="project-detail">
                                <a href="https://github.com/ClementThuet/FilmsDePleinAir" target="_blank"><input class="bt-source"type="button" value="Voir sur Github"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid block-light" id="formations">        
        <div class="row">
            <div class="col-10 offset-1 ">
                <h1 class="title-h1-dark">Formations</h1>
                <div class="row formation-container" >
                    <div class="col-6 formation-flex-end">
                        <img class="formation-img" src="/Portfolio/public/img/formation-OC.jpg">
                    </div>
                    <div class="col-6 formation-flex-start" >
                        <div> <span class="formation-title"><a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony">Développeur d'application - PHP / Symfony</a></span><br>
                            OpenClassrooms<br> 2019-2020</div>
                    </div>
                </div>
                <div class="row formation-container" >
                    <div class="col-6 formation-flex-end" >
                        <div><span class="formation-title">Licence professionelle web développeur en alternance</span><br>INSSET - St-Quentin (02) / Informapik (51)<br>2016-2017
                        </div>
                    </div>
                    <div class="col-6 formation-flex-start">
                        <img class="formation-img" src="/Portfolio/public/img/formation-INSSET.jpg">
                    </div>
                </div>
                <div class="row formation-container" >
                    <div class="col-6 formation-flex-end">
                        <img class="formation-img" src="/Portfolio/public/img/formation-BTS.jpg">
                    </div>
                    <div class="col-6 formation-flex-start" >
                        <div><span class="formation-title">BTS SIO</span><br>
                            Lycée Paul Claudel - Laon (02)<br> 2013-2015</div>
                    </div>
                </div>
                <div class="row formation-container" >
                    <div class="col-6 formation-flex-end" >
                        <div><span class="formation-title">Baccaulauréat Scientifique</span><br>Lycée Européen - Villers-Cotterêts (02) <br>2010-2013
                        </div>
                    </div>
                    <div class="col-6 formation-flex-start">
                        <img class="formation-img" src="/Portfolio/public/img/formation-bac.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid block-dark" id="contact">        
        <div class="row">
            <div class="col-10 offset-1 ">
                <h1 class="title-h1-light">Contact</h1>
                <p class="p-description">Envie d'échanger avec moi ? Vous pouvez me contacter via les moyens suivants :
                    <br>Vous pouvez aussi consulter mon CV <a href="/Portfolio/public/docs/CV.pdf" target="_blank"><span class="lien-cv">ici</span> </a></p>
                <div class="logos-container">
                    <a href="mailto:clementthuet7@gmail.com" target="_blank"><img class="logo-contact" src="/Portfolio/public/img/logo-mail-blue.png"></a>
                    <a href="https://github.com/ClementThuet" target="_blank"><img class="logo-contact" src="/Portfolio/public/img/logo-github.png"></a>
                    <a href="https://www.linkedin.com/in/cl%C3%A9ment-thuet/" target="_blank"><img class="logo-contact" src="/Portfolio/public/img/logo-lk-blue.png"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}